.detail-title{
    font-size:26px;
    border-bottom: 1px solid #E9E9E9;
    padding-bottom:20px
}
.topic-wrapper{
    padding:20px;
    border-top:1px solid #e9e9e9;

}
.topic-avatar img{
    border-radius: 5px;
    width:50px;
    height:50px;
}
.topic-content{
    margin-bottom: 20px;
}
.topic-left{
    width:9%;
    display:inline-block;
    vertical-align: top;

}
.topic-name{
    color: #c9302c;
    text-decoration: none;
}

.topic-right{
    width:90%;
    display: inline-block;
}

.signature{
    padding-left:10px;
    font-size:13px;
    color:#333;
    font-weight:bold;
}

.topic-like{
    padding-top:10px;
    border-radius: 5px;
    background-color: #efefef;
    margin-top:10px;
    float:left;
    width:50px;
    height:56px;
    text-align: center;
}
.inter-desc{
    font-size: 12px;
}
.inter-btn{
    color:#444;
    float:right;
    background-color:#b2b2b2;
    padding-left:15px !important;
    padding-right:15px !important;
}
.topic-navbar li{
    padding:6px 10px;
    display:inline-block;
    text-align: center;
}
.topic-navbar li .navbar-desc{
    color:#919191;
    font-size: 12px;
}
.topic-navbar{
    padding-left:10px;
    background-color:#E9E9E9;
    list-style: none;
}
.topic-like i{
    font-size:20px;
    color: #c9302c;
}
.like-num{
    color:#999;
}
.date{
    color: #919191;
    font-size: 12px;
}
a:hover{
    cursor:pointer;
    text-decoration:none;
}
.btn-reply-get{
    cursor:pointer;
    color:#848484
}
.btn-reply-get:hover{
    color:#000
}
.topic-wrapper .selected{
    width:100%
}

.detail-reply-wrapper{
    background-color: #fff;
    padding:0px;
}

.floor-num{
    color: #7AA87A;
}

.detail-editor-wrapper{
    margin-top: 20px;
    padding:0px;
}
.panel-default>.panel-heading {
    color:#777
}
.detail-title{
    padding-left:20px;
}
.fa-refresh{
    display: none;
}