<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title>关于CBerry --关于树莓派中国</title>
    <%include ../include/head.ejs%>
</head>
<body>
<%include ../include/header.ejs%>

<div class="col-md-9 center-block float-none">
    <h1>这里是 树莓派 中文社区</h1>
    <ul>
        <li>爱 树莓派<br></li>
        <li>爱互联网，爱 硬件 开发，爱最新最潮的技术<br></li>
        <li>爱学习，爱沟通，也爱传播<br></li>
        <li>我们不管你是谁，只要你喜欢 树莓派 , arduino 各种其他开发板<br></li>
        <li>这里是 树莓派 中国社区，我们最好的交流和沟通的大本营<br></li>
    </ul>
    <h3> WHY CBERRY?</h3>
    <p>cberry树莓派中国，集结国内的树莓派爱好者，致力于树莓派及开源硬件的传播，推动国内的硬件及物联网技术的发展。</p>

    <h3>社区 Logo:</h3>

    <p><img src="/images/logo.png"
            alt="cberry Logo"><br>
    </p>
    <h3>CBerry 官方微信群(扫一扫进群，欢迎大家踊跃加入)</h3>
    <p><img src="/images/wechat.jpg" style="width:200px;height:200px;"></p>
    <h3>关注 CBerry</h3>
    <p>你可以在 微博 上面关注&nbsp;<a href="http://weibo.com/ruby_china" target="_blank">@cberry</a>。</p>

    <p><br></p>
</div>
</body>
</html>