<!DOCTYPE html>
<html>
<head lang="zh-CN">
</head>
<body>

<h1>ADMINITRATOR</h1>
<form method="post" action="/administrator/profile/update">
  1:置顶<input type="text" name="post[top]"/>
  2:蛇精<input type="text" name="post[awesome]"/>
  <input type="submit" value="提交">
</form>
</body>
</html>