<!DOCTYPE html>
<html>
<head lang="zh-CN">
  <%include ../include/head.ejs%>
</head>
<body style="background-color: #F5F5F5">
<%include ../include/header.ejs%>
<div class="container">
<div class="col-md-8 center-block float-none modal-setting" style="">
  <div class="col-md-12 container" style="float:none">
    <form method="post" action="/user/update" enctype="multipart/form-data" class="post-edit">
      <div class="panel panel-default">
        <div class="panel-heading">编辑资料</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">头像</div>
            <div class="col-md-8">
              <p class="prefix">支持上传的文件格式
                <span class="label label-warning">.jpg</span>
                <span class="label label-warning">.png</span>
                <span class="label label-warning">.gif</span>
                <span class="label label-warning">.jpeg</span>
              </p>
              <div class="avatar-edit">
                <input type="file" name="avatar">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">昵称</div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="InputName" placeholder="昵称修改" name="user[name]" value="<%=user.name%>">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">修改邮箱</div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="InputEmail" placeholder="邮箱修改" name="user[email]" value="<%=user.email%>">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">个人签名</div>
            <div class="col-sm-8">
              <textarea class="form-control " rows="3" name="user[signature]" ><%=user.signature%></textarea>
            </div>
          </div>
          <div class="bottom-submit">
            <button class="btn btn-primary btn-purple pull-right" style="padding:6px 20px;" type="submit">保存更改</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

</div>
</body>
</html>