<!DOCTYPE html>
<html>
<head lang="zh-CN">
  <%include ../include/head.ejs%>
  <link rel="stylesheet" href="/css/simditor.css">
  <link href="/css/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" media="all" />

  <script type="text/javascript" src="/js/lib/module.js"></script>
  <script type="text/javascript" src="/js/lib/hotkeys.js"></script>
  <script type="text/javascript" src="/js/lib/uploader.js"></script>
  <script type="text/javascript" src="/js/lib/simditor.js"></script>
  <script type="text/javascript" src="/js/lib/bootstrap-tagsinput.js"></script>

  <script type="text/javascript" src="/js/page/poster.js"></script>
</head>
<body style="background-color: #F2F2F2" data-uid="<%if(user){%><%=user._id%><%}%>" id="user-id">
<%include ../include/header.ejs%>

<div class="container poster-wrapper" style="max-width:960px">
  <div class="col-md-9 poster-left" style="border-right: 1px solid #eee">
    <div class="poster-content">
      <div class="poster-top">
        <h4>标题</h4>
        <input type="text" class="form-control" placeholder="帖子标题" id="poster-title">
      </div>
      <div class="poster-detail">
        <h4>帖子详情</h4>
        <textarea id="editor"></textarea>
      </div>
      <div style="margin-bottom: 20px">
        <h4>选择分类</h4>
        <select class="form-control category-value" required>
          <%for(var i in categories){%>
          <option value="<%=categories[i]._id%>"><%=categories[i].name%></option>
          <%}%>
        </select>
      </div>
      <div>
          <button id="btn-submit" class="btn btn-default pull-right" type="button">确认发帖</button>
      </div>
    </div>
  </div>
  <div class="col-md-3 poster-right">
    <h3>帖子发布指南</h3>
    <div class="mod-body">
      <p><b>• 帖子标题:</b>请给您发布的产品评测视频起一个好名字</p>
      <p><b>• 帖子描述:</b>请用准确的语言描述您得想法</p>
      <p><b>• 选择分类:</b>请选择您上传帖子的分类</p>
    </div>
  </div>
</div>

<%include ../include/footer.ejs%>
</body>
</html>