<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="padding:10px 15px" href="/"><img src="/images/cberry-logo.png" style="height:28px;"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a style="padding-top:12px;padding-bottom: 10px;"><form action="/result" method="get" class="search-wrapper"><i class="fa fa-search"></i><input type="text" name="q" class="text-search"></form></a></li>
                <% if(user){ %>
                <li class="dropdown" >
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="background-color: #e7e7e7;cursor: pointer"><%=user.name%></a>
                    <div id="alert-wrapper">
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="/poster"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发帖</a></li>
                        <li><a href="/personal/<%=user._id%>"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>个人中心</a></li>
                        <li><a href="/notify/show"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span>通知<div id="alert-wrapper-inner" style="display: inline-block"></div></a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>登出</a></li>
                    </ul>
                </li>
                <%} else{%>
                <li><a data-toggle="modal" data-target="#signup" class="log-header">注册</a></li>
                <li><a data-toggle="modal" data-target="#signin" class="log-header">登录</a></li>
                <% }%>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</div>

<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="input-wrapper" style="margin-bottom: 20px;">
                    <img src="/images/cberry-logo.png">
                </div>
                <div class="input-wrapper">
                    <div style="width:80%;display: inline-block;">
                        <button class="btn-outside">微博登录（尚未开通）</button>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="input-wrapper"><input type="text" placeholder="邮箱" class="signin-email" data-toggle="popover" data-content="邮箱格式不正确" data-placement="top"></div>
                    <div class="input-wrapper"><input type="password" placeholder="密码" class="signin-password" data-toggle="popover" data-content="密码长度需大于5位" data-placement="top"></div>
                    <div class="input-wrapper">
                        <div class="alert alert-danger alert-signin" role="alert">邮箱和密码不正确</div>
                        <div style="width:80%;display: inline-block;">
                            <button type="button" class="btn-log btn-signin" style="float:right;margin-top:15px">登录</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="input-wrapper" style="margin-bottom: 20px;">
                    <img src="/images/cberry-logo.png" >
                </div>
                <div class="input-wrapper">
                    <div style="width:80%;display: inline-block;">
                        <button class="btn-weibo btn-outside">
                            <a href="https://api.weibo.com/oauth2/authorize?client_id=1230447599&response_type=code&redirect_uri=http://www.cberry.cn/weibo/user/gettoken" style="color:#fff">
                                微博登录(尚未开通)
                            </a>
                        </button>
                    </div>
                </div>
                <div class="form-horizontal form-signup" >
                    <div class="input-wrapper"><input type="text" placeholder="邮箱" name="user[email]" id="email-input" data-toggle="popover" data-content="邮箱格式不正确" data-placement="top"></div>
                    <div class="input-wrapper"><input type="text" placeholder="昵称" name="user[name]" id="name-input" data-toggle="popover" data-content="名字长度需大于三位" data-placement="top"></div>
                    <div class="input-wrapper"><input type="password" placeholder="密码" name="user[password]" id="password-input" data-toggle="popover" data-content="密码长度需大于5位" data-placement="top"></div>
                    <div class="input-wrapper">
                        <div class="alert alert-danger alert-signup" role="alert">邮箱已经被使用，如果已经注册，请登录</div>
                        <div style="width:80%;display: inline-block;">
                            <button class="btn-log btn-signup" style="float:right;margin-top:15px">注册</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

