<title><%=title%></title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="cberry--树莓派专业中文社区" />
<meta property="wb:webmaster" content="18ca4b529efea629" />
<meta name="description" content="cberry--树莓派专业中文社区,由国内树莓派爱好者一起建立的非商业化的树莓派开源社区" />

<link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />

<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/page/main.js"></script>